.eighth-page {
    text-align: center;
    background-color: #E9FEEC;
    height: 1500px;
  }
  
  .text-section {
    margin-bottom: 30px;
    padding: 50px;

  }
  
  .text-section h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .text-section p {
    font-size: 18px;
  }
  
  .gallery-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 50px;

  }
  
  .gallery-item {
    flex: 1 1 calc(25% - 20px); 
    max-width: calc(25% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
    background-color: #00A756;
  }
  
  .gallery-item img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .gallery-item:hover {
    transform: scale(1.05);
  }
  
  .search-section {
    margin-top: 700px;
    margin-left: 0px;
    margin-right: 0px;
    background-size: cover;
     background-position: center;  
    position: relative;
    color: white;
    text-align: center;
    width: 100%;
    height: 300px;
  }
  
  .search-content {
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    margin-top: 70px;
  }
  
  .search-content h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .search-bar {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    outline: none;
  }
  