/* SecondPage.css */
.second-page {
    text-align: center;
    padding: 50px;
    background-color: #E9FEEC;
  }
  
  .page-heading {
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  .box-container {
    display: flex;
    justify-content:space-between 20px;
    justify-content: center; 
    margin-top: 60px;   
    
  }
  
  .box-1 {
    width: 400px;
    height: 500px;
    padding: 20px;
    margin: 10px;
    border: 1px solid green;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
    overflow: hidden;
    background-color: #88DFB5;
    transition:  0.5s ease;
    transition: transform 0.5s;
  
  }
  
  .box-2{
    width: 400px;
    height: 500px;
    padding: 20px;
    margin: 10px;
    border: 1px solid green;
    position: relative;
    overflow: hidden;
    background-color: #88DFB5;
    transition:  0.5s ease;
    transition: transform 0.5s;
  }
  
  .box-3{
    width: 400px;
    height: 500px;
    padding: 20px;
    margin: 10px;
    border: 1px solid green;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    overflow: hidden;
    background-color: #88DFB5;
    transition:  0.5s ease;
    transition: transform 0.5s;
  }
  
  .box-4{
    width: 400px;
    height: 500px;
    padding: 20px;
    margin: 10px;
    border: 1px solid green;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    overflow: hidden;
    background-color: #88DFB5;
    transition:  0.5s ease;
    transition: transform 0.5s;
  }
  
  
  .box-button {
    background-color: #ff5722;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .box-1:hover,
  .box-2:hover,
  .box-3:hover,
  .box-4:hover {
    background-color: #00A756;
    transform: scale(1.1);
  }
  